# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Kotlin
.kotlin_module
.kotlin_builtins
.kotlin_metadata
.kotlin

# Logs
*.log

# Secrets
local.properties
